.tile {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

@media (max-width: 1200px) {
    .chart-container {
        flex: 0 1 calc(50% - 10px);
    }
}

@media (max-width: 768px) {
    .chart-container {
        flex: 0 1 100%;
    }
}

.chart-container {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    padding: 20px;
    margin-top: 20px;
    flex: 2 1 calc(33.33% - 14px);
    height: 100%;
    max-height: 1200px;
    min-width: 300px;
    width: 100%;
    max-width: 100%;
    color: white;

}

.chart-title {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.6;
    margin-bottom: 20px;
}

.metric-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.forecast-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
    color: white;
    display: flex;
    flex-direction: column;
}

.forecast-content {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.forecast-icon-wrapper {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.2)); /* Leichter Glow */
}

.forecast-info {
    display: flex;
    flex-direction: column;
}

.forecast-text {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    text-transform: capitalize;
}

.forecast-subtext {
    font-size: 0.75rem;
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}